* {
  /* line-height: 180%; */
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 10px;
}

main, article, table, form, pre, blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
}

table, form, li { /* p,*/
  line-height: 160%;
}

article {
  margin-left:auto;
  margin-right:auto;
  max-width: 800px;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #336699;
}

h2 {
  /* font-family: '標楷體', 'Times New Roman'; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0px;
  padding: 8px 0px;
}

h1 { font-size: 200%; color: #000000; }
h2 { font-size: 160%; color: #555555; }
h3 { font-size: 140%; color: #333333; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }

pre {
  padding: 10px;
  background-color: #dddddd;
  border: 1px black solid;
  white-space: pre-wrap;
}

blockquote {
  border: 1px #aaaaaa solid;
  padding: 5px 10px;
}

figcaption {
  text-align: center;
}

table {
  /* margin: 10 auto; */
  border: 1px #888888 solid;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  border: 1px #888888 solid;
}

th {
  background-color: #222222;
  color: #f0f0f0;
}

ul, ol {
  padding-left: 18px;
}

button, input, select {
  padding: 4px 8px;
  margin: 4px 4px;
  height: 32px;
}

input[type=number] {
  width: 8em;
}