pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    padding: 10px;
}

body, h1, h2, h3, h4, h5, h6, li, p {
    color:#333333;
    line-height:180%;
}

.title {
    /*font-size:120%;*/
    color:#000000;
    border-bottom:1px dotted #cccccc;
}

.logo {
    font-size:24px;
    font-weight:bold;
    color:#4170ae;
    margin:0px;
    font-family:sans-serif;
}

#head {
    width:100%;
    height: 2em;
}
#headLeft {
    float:left
}
#headCenter {
    max-width:400px;
    margin:auto;
}
#headRight {
    position:absolute;
    top:10px;
    right:10px
}

#menu {
    left:90%;
    border:0px;
}

.center {
    margin:auto;
}

div {
    margin:10px;
    border-radius: 5px;
}

li {
    /*list-style-type: none;*/
}

.searchBox {
    position:absolute;
    left:40%;
    top:20px;
}

button {
    border-radius:5px;
    border-width:1px;
    border-color:#888888;
    background-color:#336699;
    height: 2em;
    padding: 0px 10px;
    color: white;
}

input, textarea {
    border-radius:5px;
    border:1px solid #cccccc;
    color: #333333;
    padding: 6px 8px;
}

.long {
    width:30em;
}

textarea {
    width:90%;
    height: 5em;
    overflow-y: hidden;
}

.op {
    font-size:16px;
    float:right;
}

#main {
    max-width:900px;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
}

.time {
    font-size:small;
    color:#888888;
}

.user {
    font-style:normal;
    text-transform: capitalize;
}

a {
    color:#336699;
    text-decoration: none;
}

form {
    max-width:30em;
    margin-left:auto;
    margin-right:auto;
}

select {
    color: #888888;
    border:0px;
}


table {
    width:95%;
    border:1px solid #cccccc;
    border-collapse:collapse;
    border-radius: 5px;
}

th {
    padding-top: 12px 3px;
    text-align: left;
    background-color: #555555;
    color: white;  
}

tr, td, th {
    padding:5px 10px;
    border:1px solid #cccccc;
}


.popupBox {
    z-index:2;
    position:fixed;
    left:2%;
    top:2%;
    width:90%;
    height:90%;
    border:3px solid #888888;
    background-color:#ffffff;
    padding: 10px;
}

